<% include includes/header %>

	<script src="/assets/js/apps.js"></script>

	<article id="intro">
		<div class="container">
			<h2 class="text-center">Apps</h2>
		</div>
	</article>

	<article class="no-padding-top">
		<div class="container">
			<div class="col-md-8">
				<p class="lead">Existing Apps</p>
				<div id="apps">
					<% if (apps.length > 0) { %>
						<% for (var i in apps) { %>
						<div class="app" data-id="<%= apps[i].id %>">
							<table class="table">
								<tr>
									<th>App ID</th>
									<td><code><%= apps[i].id %></code></td>
								</tr>
								<tr>
									<th>Access Token</th>
									<td><code><%= apps[i].access_token %></code></td>
								</tr>
								<tr>
									<th>Title</th>
									<td data-info="title"><code><%= apps[i].title %></code></td>
								</tr>
								<tr>
									<th>Request Origin</th>
									<td data-info="request_origin"><code><%= apps[i].request_origin %></code></td>
								</tr>
							</table>
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#editAppModal" data-action="openEditAppModal"><i class="fa fa-edit"></i> Edit</a></button><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAppModal" data-action="openDeleteAppModal"><i class="fa fa-times-circle"></i> Delete</a></button>
						</div>
						<% } %>
					<% } else { %>
					<div class="no-apps-found">No apps found.</div>
					<% } %>
				</div>
			</div>

			<div class="col-md-offset-1 col-md-3">
				<p class="lead">New App</p>
				<p class="text-justify">By creating a new app, you can share specific data with anyone who uses your application, while keeping sensitive information about your account private.</p>
				<button type="button" class="btn btn-uop" data-toggle="modal" data-target="#newAppModal" data-action="openNewAppModal"><i class="fa fa-plus"></i> New App</button>
			</div>
		</div>
	</article>

	<style>
		#connect h3:not(:first-of-type) {
			margin-top: 2em;
		}

		#connect h4 {
			margin-top: 1.2em;
		}
	</style>

	<article id="connect" class="bg-uop">
		<div class="container">
			<h2 class="color-uop">How To Connect</h2>
			<h3>Using JavaScript</h3>
			<p>JSONP is a workaround for loading data from different domains, something that default AJAX requests alone cannot do. JSONP loads the script into the head of the DOM allowing you to access the information as if it were loaded on your own domain, thus bypassing the cross domain issue.</p>

			<h4>Pure JavaScript</h4>
<pre class="pre-scrollable">
var script = document.createElement('script');
script.src = '<%= api.full_url %>buildings?access_token=test&amp;callback=test';
document.body.appendChild(script);
function test(data) {
	console.dir(data);
}</pre>
			<h4>jQuery AJAX</h4>
<pre class="pre-scrollable">
$.ajax({
	type: 'GET',
	url: '<%= api.full_url %>buildings?access_token=test',
	dataType: 'jsonp',
	success: function (data) {
		console.dir(data);
	}
});</pre>
			<h4>jQuery AJAX Shorthand</h4>
<pre class="pre-scrollable">
$.getJSON('<%= api.full_url %>buildings?access_token=test&amp;callback=?', function (data) {
	console.dir(data);
});</pre>

			<h3>Using PHP</h3>
			<p>Server-side languages like PHP can use built-in functionality like "file_get_contents" and "json_encode" to easily grab JSON data from the API.
<pre class="pre-scrollable">
$json = file_get_contents('<%= api.full_url %>buildings?access_token=test');
$data = json_decode($json);
var_dump($data);</pre>

			<h3>Using Java</h3>
			<p>This example is using JSON.simple, a simple Java toolkit that allows you to parse any JSON file.</p>
<pre class="pre-scrollable">
import java.io.IOException;
import java.net.URL;

import org.apache.commons.io.IOUtils;
import org.json.simple.JSONArray;
import org.json.simple.JSONObject;
import org.json.simple.JSONValue;
import org.json.simple.parser.ParseException;

public class ParseJson {
	public static void main(String[] args) {
		String json = IOUtils.toString(new URL("<%= api.full_url %>buildings?access_token=test"));
		JSONObject data = (JSONObject) JSONValue.parseWithException(json);
		System.out.println(data.get("name"));
	}
}</pre>
		</div>
	</article>

	<div class="modal fade" id="newAppModal" tabindex="-1" role="dialog" aria-labelledby="newAppModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="newAppModalLabel">Create New App</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="alert alert-danger collapse"></div>
						<div class="form-group">
							<label for="title">App Title:</label>
							<p class="help-block">A title for your app to help you remember what it's for.</p>
							<input type="text" name="title" class="form-control">
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="form-group">
							<label for="request_origin">Request Origin: *</label>
							<p class="help-block">Cannot contain a wildcard (http://*.example.com) or a path (http://example.com/subdir). Must not contain a trailing slash.</p>
							<input type="text" name="request_origin" class="form-control" placeholder="http://example.com">
							<p class="help-block"><small>* Only for use with client-side requests. For server-side requests, enter server IP instead.</small></p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-uop" data-action="newApp">Create New App</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="editAppModal" tabindex="-1" role="dialog" aria-labelledby="editAppModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="editAppModalLabel">Edit Existing App</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="alert alert-danger collapse"></div>
						<input type="hidden" name="id" value="">

						<div class="form-group">
							<label for="title">App Title:</label>
							<p class="help-block">A title for your app to help you remember what it's for.</p>
							<input type="text" name="title" class="form-control">
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="form-group">
							<label for="request_origin">Request Origin: *</label>
							<p class="help-block">Cannot contain a wildcard (http://*.example.com) or a path (http://example.com/subdir). Must not contain a trailing slash.</p>
							<input type="text" name="request_origin" class="form-control" placeholder="http://example.com">
							<p class="help-block"><small>* Only for use with client-side requests. For server-side requests, enter server IP instead.</small></p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" data-action="editApp">Edit Existing App</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteAppModal" tabindex="-1" role="dialog" aria-labelledby="deleteAppModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="deleteAppModalLabel">Delete App</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<input type="hidden" name="id" value="">
						<p>Deleting an app will remove all of the app credentials. The app will no longer be usable for accessing the components of your project.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger" data-action="deleteApp">Delete App</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<% include includes/footer %>