<% include includes/header %>

	<script src="<%= locals.api.folder %>/assets/js/apps.js"></script>

	<article id="intro">
		<div class="container">
			<h2 class="text-center">Apps</h2>
		</div>
	</article>

	<article>
		<div class="container">
			<div class="col-md-8">
				<p class="lead">Existing Apps</p>
				<div id="apps">
					<% for (var i in apps) { %>
					<div class="app" data-id="<%= apps[i].id %>">
						<table class="table">
							<tr>
								<th>App ID</th>
								<td><code><%= apps[i].id %></code></td>
							</tr>
							<tr>
								<th>Access Token</th>
								<td><code><%= apps[i].access_token %></code></td>
							</tr>
							<tr>
								<th>Title</th>
								<td data-info="title"><code><%= apps[i].title %></code></td>
							</tr>
							<tr>
								<th>Request Origin</th>
								<td data-info="request_origin"><code><%= apps[i].request_origin %></code></td>
							</tr>
						</table>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#editAppModal" data-action="openEditAppModal"><i class="fa fa-edit"></i> Edit</a></button><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAppModal" data-action="openDeleteAppModal"><i class="fa fa-times-circle"></i> Delete</a></button>
					</div>
					<% } %>
				</div>
			</div>

			<div class="col-md-offset-1 col-md-3">
				<p class="lead">New App</p>
				<p class="text-justify">By creating a new app, you can share specific data with anyone who uses your application, while keeping sensitive information about your account private.</p><br>
				<button type="button" class="btn btn-uop" data-toggle="modal" data-target="#newAppModal" data-action="openNewAppModal"><i class="fa fa-plus"></i> New App</button>
			</div>
		</div>
	</article>

	<div class="modal fade" id="newAppModal" tabindex="-1" role="dialog" aria-labelledby="newAppModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="newAppModalLabel">Create New App</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="alert alert-danger collapse"></div>
						<div class="form-group">
							<label for="title">App Title:</label>
							<p class="help-block">A title for your app to help you remember what it's for.</p>
							<input type="text" name="title" class="form-control">
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="form-group">
							<label for="request_origin">Request Origin: *</label>
							<p class="help-block">Cannot contain a wildcard (http://*.example.com) or a path (http://example.com/subdir). Must not contain a trailing slash.</p>
							<input type="text" name="request_origin" class="form-control" placeholder="http://example.com">
							<p class="help-block"><small>* Only for use with client-side requests. For server-side requests, enter server IP instead.</small></p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-uop" data-action="newApp">Create New App</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="editAppModal" tabindex="-1" role="dialog" aria-labelledby="editAppModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="editAppModalLabel">Edit Existing App</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="alert alert-danger collapse"></div>
						<input type="hidden" name="id" value="">

						<div class="form-group">
							<label for="title">App Title:</label>
							<p class="help-block">A title for your app to help you remember what it's for.</p>
							<input type="text" name="title" class="form-control">
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="form-group">
							<label for="request_origin">Request Origin: *</label>
							<p class="help-block">Cannot contain a wildcard (http://*.example.com) or a path (http://example.com/subdir). Must not contain a trailing slash.</p>
							<input type="text" name="request_origin" class="form-control" placeholder="http://example.com">
							<p class="help-block"><small>* Only for use with client-side requests. For server-side requests, enter server IP instead.</small></p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" data-action="editApp">Edit Existing App</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteAppModal" tabindex="-1" role="dialog" aria-labelledby="deleteAppModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="deleteAppModalLabel">Delete App</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<input type="hidden" name="id" value="">
						<p>Deleting an app will remove all of the app credentials. The app will no longer be usable for accessing the components of your project.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger" data-action="deleteApp">Delete App</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<% include includes/footer %>