<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
		<link rel="icon" href="<%= locals.api.folder %>/assets/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="<%= locals.api.folder %>/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="<%= locals.api.folder %>/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="<%= locals.api.folder %>/assets/css/styles.css">
		<script src="<%= locals.api.folder %>/assets/js/jquery.min.js"></script>
		<script src="<%= locals.api.folder %>/assets/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li <% if (locals.name && name == 'index') { %>class="active"<% } %>><a href="<%= locals.api.folder %>/">Home</a></li>
						<li <% if (locals.name && name == 'documentation') { %>class="active"<% } %>><a href="<%= locals.api.folder %>/documentation">Documentation</a></li>
					</ul>
					<% if (locals.user && user) { %>
					<ul class="nav navbar-nav navbar-right">
						<li <% if (locals.name && name == 'apps') { %>class="active"<% } %>><a href="<%= locals.api.folder %>/apps">Apps</a></li>
					</ul>
					<% } %>
				</div>
			</div>
		</nav>
		
		<header>
			<div class="container">
				<div class="col-md-9">
					<h1><a href="<%= locals.api.folder %>/"><%= title %></a></h1>
				</div>

				<div class="col-md-3">
				<% if (locals.user && user) { %>
					<img src="<%= user.picture %>" width="50" class="img-rounded">
					<div class="user">
						<strong><%= user.given_name %> <%= user.family_name %></strong>
						<a href="<%= locals.api.folder %>/logout">Logout</a>
					</div>
				<% } else { %>
					<div class="clearfix">&nbsp;</div>
					<a href="<%= locals.api.folder %>/login" class="btn btn-danger"><i class="fa fa-google-plus"></i> Login</a>
				<% } %>
				</div>
			</div>
		</header>