<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
		<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<% if (locals.css) { %><link rel="stylesheet" href="/assets/css/<%= css %>.css"><% } %>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<% if (locals.js) { %><script src="/assets/js/<%= js %>.js"></script><% } %>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="col-md-9">
					<h1><a href="/"><%= title %></a></h1>
				</div>

				<div class="col-md-3 user">
				<% if (locals.user && user) { %>
					<div class="pull-left">
						<a href="/credentials"><strong><%= user.given_name %> <%= user.family_name %></strong></a>
						<a href="/logout">Logout</a>
					</div>
					<img src="<%= user.picture %>" width="50" class="img-rounded">
				<% } else { %>
					<a href="/auth/google" class="btn btn-danger login_button"><span class="fa fa-google-plus"></span> Login</a>
				<% } %>
				</div>
			</div>
		</header>
		
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li <% if (locals.name && name == 'home') { %>class="active"<% } %>><a href="/">Home</a></li>
						<li <% if (locals.name && name == 'documentation') { %>class="active"<% } %>><a href="/documentation">Documentation</a></li>
					</ul>
					<% if (locals.user && user) { %>
					<ul class="nav navbar-nav navbar-right">
						<li <% if (locals.name && name == 'credentials') { %>class="active"<% } %>><a href="/credentials">Credentials</a></li>
					</ul>
					<% } %>
				</div>
			</div>
		</nav>